In [14]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
from sqlalchemy import create_engine, types
from sqlalchemy import text # to be able to pass string

In [15]:
df= pd.read_csv('World_Marriage_Dataset.csv')

In [16]:
df.sample(10)

,Sr.No.,Country,AgeGroup,Sex,MaritalStatus,DataProcess,Data Collection (Start Year),Data Collection (End Year),Data Source
105118,105119,Hungary,[20-24],Woman,Widowed,Estimate,1984,1984,UNSD
102940,102941,Honduras,[55-59],Woman,Widowed,Census,1988,1988,US Census Bureau
224549,224550,Slovenia,[10-14],Woman,Divorced,Estimate,2015,2015,UNSD
5735,5736,Aruba,[35-39],Woman,Married,Census,2000,2000,UNSD
1027,1028,Albania,[40-44],Woman,Married,Survey,2008,2009,DHS_HH
234801,234802,Sweden,[55-59],Woman,Married,Estimate,1988,1988,UNSD
208707,208708,Samoa,[15-19],Man,Separated,Census,1976,1976,UNSD
170229,170230,Netherlands,[10-14],Woman,Married or married but separated,Estimate,1980,1980,UNSD
159841,159842,Mexico,[20-24],Man,Widowed,Survey,2015,2015,National statistics
2247,2248,American Samoa,[25-29],Woman,Widowed,Census,1974,1974,UNSD

In [17]:
df.drop(columns=["Sr.No."], inplace=True)

In [18]:
df

,Country,AgeGroup,Sex,MaritalStatus,DataProcess,Data Collection (Start Year),Data Collection (End Year),Data Source
0,Afghanistan,[15-19],Man,Divorced,Survey,1972,1974,National statistics
1,Afghanistan,[20-24],Man,Divorced,Survey,1972,1974,National statistics
2,Afghanistan,[25-29],Man,Divorced,Survey,1972,1974,National statistics
3,Afghanistan,[30-34],Man,Divorced,Survey,1972,1974,National statistics
4,Afghanistan,[35-39],Man,Divorced,Survey,1972,1974,National statistics
...,...,...,...,...,...,...,...,...
271599,Zimbabwe,[55-59],Woman,Widowed,Survey,2017,2017,National statistics
271600,Zimbabwe,[60-64],Woman,Widowed,Survey,2017,2017,National statistics
271601,Zimbabwe,[65-69],Woman,Widowed,Survey,2017,2017,National statistics
271602,Zimbabwe,[70-74],Woman,Widowed,Survey,2017,2017,National statistics
271603,Zimbabwe,[75+],Woman,Widowed,Survey,2017,2017,National statistics

In [19]:
df.columns = df.columns.str.lower() \
    .str.replace(' ', '_') \
    .str.replace('(', '') \
    .str.replace(')', '') \
    .str.replace('[^0-9a-zA-Z_]', '', regex=True)

In [28]:
df.rename(columns={
    "agegroup": "age_group",
    "maritalstatus": "marital_status",
    "dataprocess": "data_process",
    "Data Collection (Start Year)": "data_collection_start_year",
    "Data Collection (End Year)": "data_collection_end_year",
    "Data Source": "data_source",
    "Country": "country",
    "Sex": "sex"
}, inplace=True)

In [29]:
df.sample(5)

,country,age_group,sex,marital_status,data_process,data_collection_start_year,data_collection_end_year,data_source
79091,Finland,[35-39],Woman,Divorced,Estimate,2004,2004,UNSD
265163,Venezuela (Bolivarian Republic of),[45-49],Man,Divorced,Census,2011,2011,UNSD
4405,Armenia,[16-19],Woman,Divorced or Separated,Census,1979,1979,National statistics
226971,South Africa,[60-64],Woman,Widowed,Survey,2016,2016,DHS_HH
52279,Côte d'Ivoire,[70-74],Man,Widowed,Census,1998,1998,INED

In [30]:
df.drop_duplicates(inplace=True)
print(df.isnull().sum())

country                       0
age_group                     0
sex                           0
marital_status                0
data_process                  0
data_collection_start_year    0
data_collection_end_year      0
data_source                   0
dtype: int64

In [31]:
print(df.head())

       country age_group  sex marital_status data_process  \
0  Afghanistan   [15-19]  Man       Divorced       Survey
1  Afghanistan   [20-24]  Man       Divorced       Survey
2  Afghanistan   [25-29]  Man       Divorced       Survey
3  Afghanistan   [30-34]  Man       Divorced       Survey
4  Afghanistan   [35-39]  Man       Divorced       Survey

   data_collection_start_year  data_collection_end_year          data_source
0                        1972                      1974  National statistics
1                        1972                      1974  National statistics
2                        1972                      1974  National statistics
3                        1972                      1974  National statistics
4                        1972                      1974  National statistics

In [32]:
df.to_csv("cleaned_world_marriage.csv", index=False)